<div>
  <%= image_tag book.get_image %>
  <p>Books：<%= book.book_name %></p>
  <p>Body：<%= book.caption %></p>
  <p>Image：<%= image_tag 'sample-author1.jpg' %>
  <p>User name：<%= book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>